# Testing Report
## 1. Component Testing:
  > - Unforturnately All componets are run all together rather then seperate because it is all under one system via Minecraft and the componets can't run         unless it is accepted by Minecraft and if not it crashes or gives a error.
## 2. System Testing:
   > - As said before it is all run via a system test of Minecraft.
   >  - Implementations run through Minecraft and without Minecraft the mods won't be accepted or run.
   >  - Steps taken to make sure Minecraft accepts the Mod is making sure the code is working correctly and equipped with the version of Minecraft it is able to run on.
   > - Plus with added additions such as The block made from the Mod and the acarde game made for the blocks run through the code properly through the game and if it works its used in the game to check if the test was successful.
## 3. Acceptance Testing:
  > The system testing is used to make sure it runs smoothly so that any user will be able to enjoy the experience then running into bugs during our testing phase. Additionally, with some of the user stories used before and to what can be accepted now.
  >> 1) As a developer, I want a block that looks like an arcade machine to have code to take me to an arcade game.
  >>> Check and see if the game code that was built can run on Minecraft in the Acceptance test and make sure it works instead of getting a bugging mod and if successful the imlementation is complete
  >> 2) As a developer, I want Ensane Blox to be developed on a separate engine.
  >>> To see if the System test can't run on minecraft but a different version or a different engine before testing the real deal to make sure no major errors occur during the system testing phase and make sure the Implementation is a success.
  >> 3) As a developer, I want the other games that we come up with to be fun.
  >>> Overall to make the experience fun and easy to use to have users enjoy the experiences that is the drive for the arcade machine and overall morale of the group to have fun.
