# Testing Report
## 1. Component Testing:
  > - Unforturnately All componets are run all together rather then seperate because it is all under one system via Minecraft and the componets can't run         unless it is accepted by Minecraft and if not it crashes or gives a error.
## 2. System Testing:
   > - As said before it is all run via a system test of Minecraft.
   >  - Implementations run through Minecraft and without Minecraft the mods won't be accepted or run.
   >  - Steps taken to make sure Minecraft accepts the Mod is making sure the code is working correctly and equipped with the version of Minecraft it is able to run on.
   > - Plus with added additions such as The block made from the Mod and the acarde game made for the blocks run through the code properly through the game and if it works its used in the game to check if the test was successful.
## 3. Acceptance Testing:
  - 
